/*colors*/
/*colors*/
/*Bouton*/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@media screen and (min-width: 0px) {
  footer {
    background-color: #353535;
    color: #ffffff;
    padding: 30px 25px 5px 25px;
  }
  footer img {
    padding: 0px 0px 0px 0px;
  }
  footer a {
    color: #ffffff;
    text-decoration: none;
  }
  #logofooter {
    max-width: 105px;
    filter: invert(100%);
  }
  .info {
    list-style-type: none;
    padding: 0px;
  }
  .info li {
    padding: 0px 0px 10px 0px;
  }
  .info li .fa-solid {
    margin-right: 12px;
  }
  .info li .fa-handshake-angle {
    font-size: 11px;
  }
}
@media screen and (min-width: 1024px) {
  footer {
    padding-bottom: 10px;
    padding-top: 45px;
  }
  .content-footer {
    max-width: 1500px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-around;
  }
  #logofooter {
    max-width: 240px;
    padding-bottom: 27px;
  }
  .info {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
  .info li {
    flex: 1;
    text-align: center;
  }
  .info li a:hover {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to bottom right, #9356DC, 30%, #ED73DA);
  }
}
body {
  font-family: "Roboto", sans-serif;
  margin: auto;
  box-sizing: border-box;
}

@keyframes fade1 {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes fade2 {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes fade3 {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes loader-background {
  100% {
    visibility: hidden;
  }
}
@keyframes loader {
  0% {
    transform: rotate(1turn);
  }
}
.heart__border {
  font-size: 24px;
  position: relative;
  transition: all 150ms ease-in-out;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to bottom, #9356DC, 40%, #FF79DA);
}
.heart__empty {
  font-size: 24px;
  position: absolute;
  cursor: pointer;
  color: transparent;
  transition: all 300ms ease-in-out;
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to bottom, #9356DC, 40%, #FF79DA);
  opacity: 0;
}
.heart:hover .heart__border {
  color: transparent !important;
}
.heart:hover .heart__empty {
  opacity: 100 !important;
}
.heart:active {
  transform: scale(1.2);
}

@keyframes fade1 {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes fade2 {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes fade3 {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes loader-background {
  100% {
    visibility: hidden;
  }
}
@keyframes loader {
  0% {
    transform: rotate(1turn);
  }
}
@media all and (min-width: 0px) {
  .fade1 {
    opacity: 0;
    animation: fade1 250ms 250ms both;
    animation-duration: 1s;
    animation-iteration-count: 1;
  }
  .fade2 {
    opacity: 0;
    animation: fade2 350ms 350ms both;
    animation-duration: 1s;
    animation-iteration-count: 1;
  }
  .fade3 {
    opacity: 0;
    animation: fade3 450ms 450ms both;
    animation-duration: 1s;
    animation-iteration-count: 1;
  }
  .fade4 {
    opacity: 0;
    animation: fade3 550ms 550ms both;
    animation-duration: 1s;
    animation-iteration-count: 1;
  }
  .fade5 {
    opacity: 0;
    animation: fade3 650ms 650ms both;
    animation-duration: 1s;
    animation-iteration-count: 1;
  }
  .fade6 {
    opacity: 0;
    animation: fade3 750ms 750ms both;
    animation-duration: 1s;
    animation-iteration-count: 1;
  }
  .fade7 {
    opacity: 0;
    animation: fade3 850ms 850ms both;
    animation-duration: 1s;
    animation-iteration-count: 1;
  }
  .fade8 {
    opacity: 0;
    animation: fade3 950ms 950ms both;
    animation-duration: 1s;
    animation-iteration-count: 1;
  }
  .fade9 {
    opacity: 0;
    animation: fade3 1150ms 1150ms both;
    animation-duration: 1s;
    animation-iteration-count: 1;
  }
}
@media all and (min-width: 1024px) {
  .fade1, .fade4, .fade7 {
    opacity: 0;
    animation: fade1 350ms 350ms both;
    animation-duration: 1s;
    animation-iteration-count: 1;
  }
  .fade2, .fade5, .fade8 {
    opacity: 0;
    animation: fade2 550ms 550ms both;
    animation-duration: 1s;
    animation-iteration-count: 1;
  }
  .fade3, .fade6, .fade9 {
    opacity: 0;
    animation: fade3 750ms 750ms both;
    animation-duration: 1s;
    animation-iteration-count: 1;
  }
}
@media screen and (min-width: 0px) {
  /*header*/
  header {
    display: flex;
    align-items: center;
    padding: 20px 20px 10px 20px;
  }
  header .fa-solid {
    font-size: 21px;
    font-weight: 900;
    color: #353535;
  }
  .logo-parent {
    margin: auto;
  }
  #logo {
    width: 175px;
    margin-right: 20px;
    transition: transform 320ms;
  }
  #logo:hover {
    transform: scale(1.05);
  }
  /*header*/
  #dishpic {
    width: 100%;
    height: 220px;
    object-fit: cover;
  }
  main {
    display: flex;
    flex-direction: column;
  }
  /*Title*/
  .title {
    font-family: "Shrikhand", cursive;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 20px;
    background-color: #f7f7f7;
    position: relative;
    margin-top: -40px;
    border-radius: 35px 35px 0px 0px;
  }
  .title h1 {
    flex-basis: 80%;
  }
  .title .heart {
    display: flex;
    cursor: pointer;
  }
  .title .heart__border {
    flex-basis: 30%;
    font-size: 30px;
  }
  .title .heart__empty {
    flex-basis: 30%;
    font-size: 30px;
  }
  /*Menu*/
  .menu {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;
  }
  .menu h2 {
    flex-basis: 100%;
    padding-bottom: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: #353535;
    border-bottom: 3px solid #99e2d0;
    max-width: fit-content;
    width: 45px;
  }
  .card-content {
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: white;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0) 0px 14px 21px, rgba(0, 0, 0, 0.23) 0px 4px 8px;
    overflow: hidden;
  }
  .card-content:hover .checkspan {
    display: block;
    margin-right: 0px;
  }
  .card-content:hover .fa-circle-check {
    transform: rotate(-1turn);
  }
  .card-content .checkspan {
    transition: all 350ms ease-in-out;
    background-size: 100% 0%;
    margin-right: -65px;
    background-color: #99e2d0;
  }
  .card-content .fa-circle-check {
    align-items: center;
    color: white;
    border-radius: 0px 12px 12px 0px;
    padding: 20px;
    font-size: 23px;
    transition: all 700ms ease-in-out;
  }
  .menu-text {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 11px 11px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .menu-text h3 {
    margin: 0px 40px 2px 0px;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .menu-text .description {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .menu-text .price {
    font-weight: 700;
    padding: 0px 10px 0px 20px;
  }
  .menu-text p {
    margin: 0px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
  }
  .card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
  }
  .menu button {
    border: none;
    border-radius: 50px;
    background: linear-gradient(to bottom right, #ED73DA, #9356DC);
    padding: 15px 50px;
    margin: 20px 0px 50px 0px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0) 0px 14px 21px, rgba(0, 0, 0, 0.23) 0px 4px 8px;
  }
  .menu button:hover {
    background: linear-gradient(to bottom right, #f08ae0, #a16be0);
    box-shadow: rgba(0, 0, 0, 0) 0px 14px 21px, rgba(0, 0, 0, 0.4) 0px 4px 8px;
  }
}
@media screen and (min-width: 748px) {
  .card {
    max-width: 650px;
  }
}
@media screen and (min-width: 1024px) {
  header {
    padding: 40px 30px 5px 30px;
    max-width: 1400px;
    margin: auto;
  }
  header .fa-solid {
    font-size: 25px;
  }
  main {
    max-width: 1400px;
    margin: auto;
    padding: 30px;
  }
  #logo {
    width: 225px;
  }
  #dishpic {
    height: 248px;
    border-radius: 25px 25px 0px 0px;
    object-position: 44% 57%;
  }
  .menu-hover {
    transition: all 400ms ease-in-out;
  }
  .menu-hover:hover {
    transform: translateY(-35px);
    /* button{
      margin:28px 0px 50px 0px;
    }*/
  }
  .menu-hover:hover .menu {
    transform: translateY(-46px);
  }
  .title {
    padding: 0px 40px 40px 40px;
    z-index: 1;
  }
  .title .fa-regular {
    font-size: 30px;
  }
  .menu {
    padding-top: 60px;
    transform: translateY(-55px);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    border-radius: 0px 0px 25px 25px;
    height: 540px;
    box-shadow: rgba(50, 50, 93, 0.05) 0px 2px 5px -1px, rgba(0, 0, 0, 0.16) 0px 1px 3px -1px;
    transition: all 400ms ease-in-out;
  }
  .card {
    max-width: 420px;
    width: 30%;
    gap: 22px;
  }
  .card h2 {
    margin-bottom: 15px;
  }
}/*# sourceMappingURL=menu.css.map */