/*colors*/
/*colors*/
/*Bouton*/
@media screen and (min-width: 0px) {
  footer {
    background-color: #353535;
    color: #ffffff;
    padding: 30px 25px 5px 25px;
  }
  footer img {
    padding: 0px 0px 0px 0px;
  }
  footer a {
    color: #ffffff;
    text-decoration: none;
  }
  #logofooter {
    max-width: 105px;
    filter: invert(100%);
  }
  .info {
    list-style-type: none;
    padding: 0px;
  }
  .info li {
    padding: 0px 0px 10px 0px;
  }
  .info li .fa-solid {
    margin-right: 12px;
  }
  .info li .fa-handshake-angle {
    font-size: 11px;
  }
}
@media screen and (min-width: 1024px) {
  footer {
    padding-bottom: 10px;
    padding-top: 45px;
  }
  .content-footer {
    max-width: 1500px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-around;
  }
  #logofooter {
    max-width: 240px;
    padding-bottom: 27px;
  }
  .info {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
  .info li {
    flex: 1;
    text-align: center;
  }
}
body {
  font-family: "Roboto", sans-serif;
  margin: auto;
  box-sizing: border-box;
}

.heart #heart-border {
  font-size: 24px;
  position: relative;
  transition: all 350ms ease-in-out;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to bottom, #9356DC, 40%, #FF79DA);
}
.heart #heart-empty {
  font-size: 24px;
  position: absolute;
  cursor: pointer;
  color: transparent;
  transition: all 350ms ease-in-out;
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to bottom, #9356DC, 40%, #FF79DA);
  opacity: 0;
}
.heart:hover #heart-border {
  color: transparent !important;
}
.heart:hover #heart-empty {
  opacity: 100 !important;
}
.heart:active {
  transform: scale(1.2);
}

@media screen and (min-width: 0px) {
  /*header*/
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  #logo {
    max-width: 175px;
    width: 100%;
    margin: auto;
    padding-top: 25px;
    transition: transform 320ms;
  }
  #logo:hover {
    transform: scale(1.05);
  }
  .location {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#cecece, 10%, #eaeaea);
    font-size: 16px;
    font-weight: 700;
    width: 100%;
    gap: 20px;
    color: #353535;
  }
  .location p {
    margin-right: 25px;
  }
  .location a {
    text-decoration: none;
    color: #353535;
  }
  /*FIN header*/
  /*Navigation*/
  nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #f7f7f7;
    height: auto;
    padding: 20px 20px 50px 20px;
    text-align: center;
  }
  nav h1 {
    font-size: 24px;
    max-width: 400px;
    width: 80%;
    margin-bottom: 12px;
  }
  nav p {
    font-size: 18px;
    font-weight: 400;
    margin: 0px 0px 30px 0px;
    color: #666666;
  }
  nav button {
    border: none;
    border-radius: 50px;
    background: linear-gradient(to bottom right, #ED73DA, #9356DC);
    padding: 15px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0) 0px 14px 21px, rgba(0, 0, 0, 0.23) 0px 4px 8px;
  }
  nav button:hover {
    background: linear-gradient(to bottom right, #f08ae0, #a16be0);
  }
  /*Fonctionnement*/
  .fonctionnement {
    background-color: #fff;
    padding-bottom: 38px;
  }
  .fonctionnement h2 {
    margin: 38px 0px 0px 20px;
    font-weight: 700;
    font-size: 22px;
  }
  .fonctionnement .fa-solid {
    color: #7e7e7e;
    font-size: 18px;
  }
  .fonctionnement p {
    margin-right: 10px;
  }
  .fonctflex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin-top: 25px;
  }
  .fonct-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid transparent;
    background-color: #f7f7f7;
    border-radius: 20px;
    height: 65px;
    width: 86%;
    font-size: 16px;
    font-weight: 700;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px 2px 9px;
    margin-left: 10px;
  }
  .fonct-card:hover {
    background-color: #f5edff;
    cursor: pointer;
  }
  .fonct-card:hover .fa-solid {
    color: #9356DC;
  }
  .fonct-card span {
    margin-left: -12px;
    border: 1px solid transparent;
    background-color: #9356DC;
    border-radius: 50%;
    text-align: center;
    width: 20px;
    height: 20px;
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
  /*FIN Fonctionnement*/
  /*Restaurants*/
  .menu {
    background-color: #f7f7f7;
    height: 1080px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
  }
  .menu a {
    text-decoration: none;
    color: black;
  }
  .menu h3 {
    font-size: 22px;
    font-weight: 700;
    padding: 25px 0px 0px 20px;
    margin-bottom: 0px;
    align-self: flex-start;
  }
  .menu-card {
    background-color: #fff;
    width: 88%;
    height: 215px;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .menu-card:hover {
    transform: scale(1.02);
  }
  .menu-card img {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: center;
  }
  .menu-card__text {
    margin: 0px 22px 0px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .menu-card__text h4 {
    font-size: 16px;
    font-weight: 700;
    margin: 10px 0px 4px 0px;
  }
  .menu-card__text p {
    font-size: 14px;
    flex-basis: 80%;
    margin: 0px 0px 15px 0px;
  }
  .heart .fa-heart {
    flex-basis: 10%;
    display: flex;
  }
  .heart #heart-border {
    margin-bottom: -24px;
  }
  .heart #heart-empty {
    position: absolute;
  }
  .nouveauflex {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .nouveauflex span {
    position: absolute;
    color: #008766;
    border: 1px solid transparent;
    background-color: #99e2d0;
    padding: 4px 10px;
    border-radius: 3px;
    margin: 15px;
    font-size: 14px;
  }
  /*FIN Restaurants*/
}
@media screen and (min-width: 0px) and (min-width: 748px) {
  header {
    max-width: 1500px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 40px 10px 40px 30px;
  }
  header .location {
    width: auto;
    background: none;
  }
  header .location p {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  #logo {
    padding-top: 0px;
  }
  .fonctflex {
    flex-direction: row;
    padding: 0px 20px 0px 20px;
  }
  .menu {
    margin: auto;
    width: 100%;
    height: 550px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding-bottom: 50px;
  }
  .menu h3 {
    flex-basis: 100%;
  }
  .menu-card {
    width: 44%;
    max-width: 800px;
  }
}
@media screen and (min-width: 0px) and (min-width: 1024px) {
  main {
    max-width: 1500px;
    margin: auto;
    padding: 0px 30px 0px 30px;
  }
  nav {
    border-radius: 20px;
  }
  .fonctionnement {
    padding-bottom: 65px;
  }
  .fonctionnement h2 {
    margin-left: 30px;
  }
  .fonctflex {
    max-width: 1450px;
    margin: auto;
    padding-top: 25px;
  }
  .menu {
    border-radius: 20px 20px 20px 20px;
    height: 320px;
    margin-bottom: 40px;
    padding-bottom: 48px;
    gap: 10px;
  }
  .menu h3 {
    padding-left: 40px;
  }
  .menu-card {
    width: 22%;
    margin: 0px 10px 0px 10px;
  }
}/*# sourceMappingURL=style.css.map */