@media all and (min-width: 0px) {

  .fade1 {
    opacity: 0;
    animation: fade1 250ms 250ms both;
    animation-duration: 1s;
    animation-iteration-count:1;
  }

  .fade2 {
    opacity: 0;
    animation: fade2 350ms 350ms both;
    animation-duration: 1s;
    animation-iteration-count:1;
  }

  .fade3 {
    opacity: 0;
    animation: fade3 450ms 450ms both;
    animation-duration: 1s;
    animation-iteration-count:1;
    
  }

  .fade4 {
    opacity: 0;
    animation: fade3 550ms 550ms both;
    animation-duration: 1s;
    animation-iteration-count:1;
  }

  .fade5 {
    opacity: 0;
    animation: fade3 650ms 650ms both;
    animation-duration: 1s;
    animation-iteration-count:1;
  }

  .fade6 {
    opacity: 0;
    animation: fade3 750ms 750ms both;
    animation-duration: 1s;
    animation-iteration-count:1;
  }

  .fade7 {
    opacity: 0;
    animation: fade3 850ms 850ms both;
    animation-duration: 1s;
    animation-iteration-count:1;
  }

  .fade8 {
    opacity: 0;
    animation: fade3 950ms 950ms both;
    animation-duration: 1s;
    animation-iteration-count:1;
  }

  .fade9 {
    opacity: 0;
    animation: fade3 1150ms 1150ms both;
    animation-duration: 1s;
    animation-iteration-count:1;
  }
}

@media all and (min-width: 1024px) {

  .fade1, .fade4, .fade7{
    opacity: 0;
    animation: fade1 350ms 350ms both;
    animation-duration: 1s;
    animation-iteration-count:1;
  }

  .fade2, .fade5, .fade8 {
    opacity: 0;
    animation: fade2 550ms 550ms both;
    animation-duration: 1s;
    animation-iteration-count:1;
  }

  .fade3, .fade6, .fade9 {
    opacity: 0;
    animation: fade3 750ms 750ms both;
    animation-duration: 1s;
    animation-iteration-count:1;
  }
}
