@import "../utils/variables";
@import "../layouts/footer";
@import "../layouts/body";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import "../utils/heart";
@import "../utils/keyframes";
@import "../components/fade";

@media screen and (min-width: 0px) {
  /*header*/
  header {
    display: flex;
    align-items: center;
    padding: 20px 20px 10px 20px;

    .fa-solid {
      font-size: 21px;
      font-weight: 900;
      color: #353535;
    }
  }

  .logo-parent {
    margin: auto;
  }

  #logo {
    width: 175px;
    margin-right: 20px;
    transition: transform 320ms;  
    &:hover {
      transform: scale(1.05);
    }
  }

  /*header*/

  #dishpic {
    width: 100%;
    height: 220px;
    object-fit: cover;
  }

  main {
    display: flex;
    flex-direction: column;
  }

  /*Title*/
  .title {
    font-family: "Shrikhand", cursive;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 20px;
    background-color: #f7f7f7;
    position: relative;
    margin-top: -40px;
    border-radius: 35px 35px 0px 0px;
    h1 {
      flex-basis: 80%;
    }

    .heart{
      display: flex;     
      cursor: pointer; 

      &__border {
      flex-basis: 30%;
      font-size: 30px;
      }

      &__empty {
      flex-basis: 30%;
      font-size: 30px;
     }
  }
  }

  /*Menu*/

  .menu {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;

    h2 {
      flex-basis: 100%;
      padding-bottom: 5px;
      margin-bottom: 5px;
      font-size: 18px;
      font-weight: 400;
      text-transform: uppercase;
      color: #353535;
      border-bottom: 3px solid #99e2d0;
      max-width: fit-content;
      width: 45px;
    }
  }

  .card-content {
    cursor:pointer;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: white;
    border-radius: 12px;
    box-shadow: rgb(0 0 0 / 0%) 0px 14px 21px, rgb(0 0 0 / 23%) 0px 4px 8px;
    overflow: hidden;
    &:hover{
      .checkspan {
      display: block;
      margin-right: 0px;
      }
      .fa-circle-check{
        transform: rotate(-1turn);
      }
    }
    .checkspan {
      transition: all 350ms ease-in-out;
      background-size: 100% 0%;
      margin-right: -63px;
      background-color: #99e2d0;
    
    }
    .fa-circle-check {
      align-items: center;
      color: white;
  
      border-radius: 0px 12px 12px 0px;
      padding: 20px;
      font-size: 23px;
      transition: all 700ms ease-in-out;
    }
  }
  
  .menu-text {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 11px 11px;
    overflow: hidden;
    text-overflow :ellipsis;
    white-space: nowrap;
    h3 {
      margin: 0px 40px 2px 0px;
      font-size: 18px;
      overflow: hidden;
      text-overflow :ellipsis;
    white-space: nowrap;
    }
    .description {
      overflow: hidden;
      text-overflow :ellipsis;
      white-space: nowrap;
    }

    .price {
      font-weight: 700;
      padding:0px 10px 0px 20px;

    }

    p {
      margin: 0px;
      display: flex;
      justify-content: space-between;
      font-size: 14px;
    }
  }

  .card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
  }

  .menu button {
    border: none;
    border-radius: 50px;
    background: $btn-radient;
    padding: 15px 50px;
    margin: 20px 0px 50px 0px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    box-shadow: rgb(0 0 0 / 0%) 0px 14px 21px, rgb(0 0 0 / 23%) 0px 4px 8px;

    &:hover {
      background: $hover-gradient;
    }
  }
}

@media screen and (min-width: 748px) {
  .card {
    max-width: 650px;
  }
}

@media screen and (min-width: 1024px) {
  header {
    padding: 40px 30px 5px 30px;
    max-width: 1400px;
    margin: auto;
    .fa-solid {
      font-size: 25px;
    }
  }

  main {
    max-width: 1400px;
    margin: auto;
    padding: 30px;
  }

  #logo {
    width: 225px;
  }

  #dishpic {
    height: 280px;
    border-radius: 25px 25px 0px 0px;
    object-position: 44% 57%;
  }

  .menu-hover {
    transition: all 450ms ease-in-out;
    &:hover{
      margin-top: -60px;
      .menu{
        padding-top: 24px;
        padding-bottom: 15px;
        button{
        margin:28px 0px 50px 0px;
      }
      }
      
  }
}

  .title {
    padding: 0px 40px 30px 40px;

    .fa-regular {
      font-size: 30px;
    }
  }

  .menu {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 50px;
    border-radius: 0px 0px 25px 25px;
    height: 540px;
    box-shadow: rgba(50, 50, 93, 5%) 0px 2px 5px -1px,
      rgba(0, 0, 0, 16%) 0px 1px 3px -1px;
      transition: all 450ms ease-in-out;
      button {
        transition: all 450ms ease-in-out;
      }
  }

  .card {
    max-width: 420px;
    width: 30%;
    gap: 22px;
    h2 {
      margin-bottom: 15px;
    }
  }
}
