
/*colors*/

$darkpurple: #9356DC;
$lightpurple: #ED73DA;


/*colors*/

/*Bouton*/

$btn-radient: linear-gradient(to bottom right, $lightpurple, $darkpurple);  
$hover-gradient: linear-gradient(to bottom right, lighten($lightpurple, 5), lighten($darkpurple, 5))

/*Bouton*/