
@media screen and (min-width: 0px) {
footer {
    background-color: #353535;
    color: #ffffff;
    padding: 30px 25px 5px 25px;
    img {
      padding: 0px 0px 0px 0px;
    }
    a {
      color: #ffffff;
      text-decoration: none;
    }
  }

  #logofooter {
    max-width: 105px;
    filter: invert(100%);
  }

  .info {
    list-style-type: none;
    padding: 0px;
    li {
      padding: 0px 0px 10px 0px;
      .fa-solid {
        margin-right: 12px;
      }
      .fa-handshake-angle {
        font-size: 11px;
      }
    }
  }
}

@media screen and (min-width: 1024px) {

  footer {
    padding-bottom: 10px;
    padding-top: 45px;
  }
  
  .content-footer {
    max-width: 1500px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-around;
  }

  #logofooter {
    max-width: 240px;
    padding-bottom: 27px;
  }

  .info {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    li{
      flex: 1;
      text-align: center;
      a:hover{
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        background-image: linear-gradient(to bottom right, $darkpurple,30%, $lightpurple);
      }
    }
  }
}